<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dlscj.dash">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"  android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_dash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Dash">

        <activity android:name=".SplashActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InitActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">

        </activity>

        <activity android:name=".FreeActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">

        </activity>

        <activity android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">

        </activity>

        <activity android:name=".TutorialActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">

        </activity>


    </application>

</manifest>